{% load i18n %}{% autoescape off %}
{% trans "Password reset Email" %}
{% trans "Greetings" %} {{ user.get_username }} {% trans '!!' %}

{% blocktrans %}
    Hey There !! we have received a request for resetting the password at {{site_name}}.
    If you havent asked for the reset, please ignore this email. 
    Else Please click the link below to change your password.
{% endblocktrans %}

{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}

{% trans "Thanks for using our site!" %}

{% endautoescape %}