{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Password reset
{% endblock title %}

{% block main_block %}
    <br>
    <h1>Forgot Yout Passowrd ?</h1>
    <br>
    <p>Please enter your email id which you have used during registering, and we will email the instructions for resetting the password</p>
    <br><br>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <input type="submit" class="btn btn-primary ml-1" value="Send instructions">
    </form>
    <br>
{% endblock main_block %}