{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block 'title' %}Change Password{% endblock 'title' %}

{% block main_block %}
    <br>
    <h1>Password Change </h1>
    <br>
    <p>Please enter your old password for security purposes. Then type in the new password along with confirmation </p>
    <form method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <br>
        <input type="submit" class="btn btn-primary ml-1" value="Change Password">
    </form>
    <br>
{% endblock main_block %}